*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer{
    background-color: red;
    height: 50px;
    width: 100%;
    text-align: center;
}

main{
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.fora{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: purple;

    .cima{
        width: 100px;
        height: 50px;
        display: flex;
        flex-direction: row;
    }

    #descricaoInput{
        height: 50px;
        width: 100%;
    }

    .listaCompetencias{
        height: 50px;
        width: 100%;
    }
}